{% extends 'base.html' %}

{% block home_link %} <a class="nav-link" href="{% url 'home' %}">Главная</a> {% endblock %}

{% block content %}

{% if validlink %}

<h3 style="padding-top: 10px; padding-left: 50px">Смена пароля</h3>
<hr>
<form style="margin-left: 50px; padding-top: 35px; padding-bottom: 35px" method="post">
    {% csrf_token %}
    <fieldset class="module aligned">

        {{ form.new_password1.errors }}
        {{ form.new_password2.errors }}

        <label>Новый пароль:</label>
        <div class="form-row field-password1">

            {{ form.new_password1 }}
        </div>
        <label>Введите пароль еще раз:</label>
        <div class="form-row field-password2">

            {{ form.new_password2 }}
        </div>
        <button style="margin-top: 5px" type="submit" class="custom-btn btn btn-danger">Подтвердить</button>
    </fieldset>
</form>

{% else %}

<div style="padding-top: 181px; padding-bottom: 181px; padding-left: 50px;">
<p>Ссылка на сброс пароля не действительна, возможно, потому что она уже была использована. Пожалуйста, попробуйте
    снова</p>
</div>
{% endif %}

{% endblock %}
