<footer class="site-footer section-padding">

    <div class="container">

        <div class="row">

            <div class="col-12">
                <h4 class="text-white mb-4 me-5">Valorank</h4>
            </div>

            <div class="col-lg-4 col-md-7 col-xs-12 valorank-mt30">
                <h6 class="text-white mb-lg-4 mb-3">Почему мы?</h6>

                <p>Мы предоставляем самый качественный буст и самый широкий функционал на рынке. Повышайте свой ранг с
                    нами!</p>
            </div>

            <div class="col-lg-4 col-md-5 col-xs-12 valorank-mt30">
                <h6 class="text-white mb-lg-4 mb-3">Доверьтесь нам!</h6>

                <p class="mb-2">Вашим аккаунтом будут заниматься лучшие из лучших. Все наши бустеры входят в ТОП-20.000
                    Европы!</p>
            </div>

            <div class="col-lg-4 col-md-6 col-xs-12 valorank-mt30">
                <h6 class="text-white mb-lg-4 mb-3">Социальные сети</h6>

                <ul class="social-icon">
                    <li><a href="#" class="social-icon-link bi-facebook"></a></li>

                    <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                    <li><a href="https://twitter.com/search?q=tooplate.com&src=typed_query&f=live" target="_blank"
                           class="social-icon-link bi-twitter"></a></li>

                    <li><a href="#" class="social-icon-link bi-youtube"></a></li>
                </ul>


            </div>

        </div><!-- row ending -->

    </div><!-- container ending -->

</footer>