{% extends 'base.html' %}

{% block home_link %} <a class="nav-link" href="{% url 'home' %}">Главная</a> {% endblock %}

{% block content %}
<h2 style="margin-left: 50px; margin-top: 20px">Смена пароля</h2>
<hr>
<form style="padding-top: 75px; padding-bottom: 90px; padding-left: 50px" action="{% url 'password_reset' %}" method="POST">
    <p>Введите ваш Email:</p>
    {% csrf_token %}
    {{ form }}
    <button style="margin-left: 5px" type="submit" class="custom-btn btn btn-danger">Подтвердить</button>
</form>
{% endblock %}