{% extends 'base.html' %}

{% block home_link %} <a class="nav-link" href="{% url 'home' %}">Главная</a> {% endblock %}

{% block content %}

{% if validlink %}

<h3 style="padding-top: 10px; padding-left: 50px">Сброс пароля</h3>
<hr>
<form style="margin-left: 50px; padding-top: 35px; padding-bottom: 35px" method="post">
    {% csrf_token %}
    <fieldset class="module aligned">

        {{ form.new_password1.errors }}
        {{ form.new_password2.errors }}

        <label>Новый пароль:</label>
        <div class="form-row field-password1">

            {{ form.new_password1 }}
        </div>
        <label>Введите пароль еще раз:</label>
        <div class="form-row field-password2">

            {{ form.new_password2 }}
        </div>
        <button style="margin-top: 5px" type="submit" class="custom-btn btn btn-danger">Подтвердить</button>
    </fieldset>
</form>

{% else %}

<div style="padding-top: 143px; padding-bottom: 144px; padding-left: 570px">
  <h4>Упс... Кажется эта ссылка недействительна :c</h4>
  <p>Попробуйте еще раз!</p>
  <a href="{% url 'password_reset' %}">Сброс пароля</a>
</div>
{% endif %}

{% endblock %}
