{% extends "base.html" %}
{% load i18n %}

{% block home_link %} <a class="nav-link" href="{% url 'home' %}">Главная</a> {% endblock %}

{% block content %}

<div style="padding-top: 179px; padding-bottom: 179px; padding-left: 55px">
    <label>Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты. Вы должны
        получить ее в ближайшее время.
        Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и
        проверьте
        папку со спамом.</label>
</div>
{% endblock %}
