{% extends 'base.html' %}

{% block home_link %} <a class="nav-link" href="{% url 'home' %}">Главная</a> {% endblock %}

{% block content %}
<div class="container">
<h3>Смена пароля</h3>
</div>
<hr>

<form action="{% url 'password_change' %}" method="POST">
    {% csrf_token %}

    <div class="container">
        <div class="row">
            <div class="col-lg-4" style="padding-top: 30px; padding-bottom: 40px">

                <label>Ваш текущий пароль:</label>
                <div style="padding-bottom: 10px">
                    {{ form.old_password }}
                </div>
                <label>Ваш новый пароль:</label>
                <div style="padding-bottom: 10px">
                    {{ form.new_password1 }}
                </div>

                <label>Повторите пароль:</label>
                <div style="padding-bottom: 10px">
                    {{ form.new_password2 }}
                </div>

                <button type="submit" class="custom-btn btn btn-danger">Подтвердить</button>
            </div>
            <div class="col-lg-4" style="padding-top: 50px">
                {{ form.errors.old_password }}
                {{ form.errors.new_password1 }}
                {{ form.errors.new_password2 }}
            </div>
        </div>
    </div>
</form>
{% endblock %}