{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>

    {% block meta %}
    {% include 'include/base/meta.html' %}
    {% endblock %}

    {% block add_meta %}
    {% endblock %}

    <title>{% block title %} Valorank {% endblock %}</title>

    <!-- CSS FILES -->
    {% block css_files %}
    {% include 'include/base/css_files.html' %}
    {% endblock %}

    {% block add_css %}
    {% endblock  %}

    {% block add_bootstrap %}
    {% endblock %}

</head>
<body>

{% block navbar %}
<nav class="navbar navbar-expand-lg bg-white shadow-lg">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="{% url 'home' %}">
            Valorank
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">

                <li class="nav-item">
                   {% block home_link %} <a class="nav-link active" href="{% url 'home' %}">Главная</a> {% endblock %}
                </li>

                <li class="nav-item">
                    {% block about_link %} <a class="nav-link" href="{% url 'about' %}">О нас</a> {% endblock %}
                </li>

                <li class="nav-item">
                    {% block store_link %} <a class="nav-link" href="{% url 'store' %}">Магазин</a> {% endblock %}
                </li>

                <li class="nav-item">
                    {% block articles_link %} <a class="nav-link" href="{% url 'articles' %}">Статьи</a> {% endblock %}
                </li>

                <li class="nav-item">
                    {% block contact_link %} <a class="nav-link" href="{% url 'support_service' %}">Поддержка</a> {% endblock %}
                </li>
            </ul>
        </div>

        <div class="d-none d-lg-block">
            {% if request.user.is_authenticated %}
            <label style="padding-right: 10px">{{ request.user.email }}</label>
            <button class="custom-btn btn btn-danger">Выйти</button>
            {% else %}
            <a href="{% url 'signin' %}"><button type="button" class="custom-btn btn btn-danger">Вход / Регистрация</button></a>
            {% endif %}
        </div>

    </div>
</nav>
{% endblock %}


{% block content %}
{% endblock %}


{% block footer %}
{% include 'include/base/footer.html' %}
{% endblock %}


<!-- JAVASCRIPT FILES -->
{% block js_files %}
{% include 'include/base/js_files.html' %}
{% endblock %}

{% block add_js %}
{% endblock %}

</body>
</html>