<div class="overlay-container">
    <div class="overlay">
        <div class="overlay-panel o verlay-left">
            <h1>Есть аккаунт?</h1>
            <p>Чтобы авторизироваться, нажмите на кнопку нижу</p>
            <a href="{% url 'signup' %}" class="ghost">Войти</a>
        </div>
        <div class="overlay-panel overlay-right">


            <h1>Добро пожаловать!</h1>
            <p>Если у вас еще нет аккаунта, нажмите на кнопку ниже</p>
            <a href="{% url 'signup' %}">
                <button class="ghost">Регистрация</button>
            </a>


        </div>
    </div>
</div>