<section class="about section-padding bg-white">
    <div class="container">
        <div class="row">

            {% if not request.user.is_authenticated %}
            <div class="col-lg-6 col-12 mb-2">
                <h4 class="mb-3">Добро пожаловать! Мы всегда рады новым пользователям нашего сайта.
                    Кажется, вы еще не авторизированны.
                    Нажмите на кнопку снизу, чтобы это исправить!</h4>

                <a href="#" class="custom-btn btn btn-dark mt-3">Смотреть новости</a>

                <a href="#"
                   class="custom-btn btn btn-danger mt-3 ms-3">Зарегистрироваться</a>
            </div>
            <div class="col-lg-6 col-12">
                {% else %}
                <div class="col-lg-12 col-12">
                    {% endif %}

                    <p>Добро пожаловать на ведущий сайт по бусту аккаунтов валорант. Я уверен, вы сталкивались
                        с такой проблемой: "Вы керрите всю команду, занимая первую строчку в таблице, делаете все,
                        чтобы выиграть, но ваши тиммейты не могут перестрелять противника, у которого Classic, в спину
                        с вандала. И в этот момент вы понимаете, что вы достойны большего, но играя одному против девяти
                        человек апнуть ранг не получиться". Знакомо? Тогда вы пришли по адресу. Мы апнем вам то звание,
                        которое вы захотите!
                    </p>
                    <p>В разделе <strong>"Магазин"</strong> вы можете купить буст своего аккаунта. Подробнее о покупках
                        читайте в статье <a href="#">Покупки</a></p>
                    <p>В разделе <strong>"Статьи"</strong> вы можете прочитать о том, как происходит процесс буста,
                        как делать покупки, о наших обновлениях и скидках, а так же о том, как стать частью нашей
                        команды!</p>
                    <p>В разделе <strong>"Поддержка"</strong> вы всегда можете обратиться в службу поддержки.
                        Мы поможем вам с любыми вопросами и дадим ответы на любые интересующие вас вопросы.</p>


                </div>

            </div>
        </div>
    </div>
</section>